<ul id="search_results">
  <% if @results.length == 0 %>
    <li class="not-found">Rezultatų nėra.</li>
  <% end %>
  <% @results.each do |r| %>
    <li class="<%= r[:kind].to_s %>"><a href="<%= r[:url] %>"><%= highlight(r[:name], @words) %></a></li>
  <% end %>
</ul>
