/* MakeIT time. */

* {
    margin: 0;
    padding: 0;
}

body, td, th {
    font-family: verdana, arial;
    font-size: 13px;
}

.clear {
    clear: both;
}
.floatl {
    float: left;
}
.small-box {
    padding-top: 10px;
}

/* toolbar */
#toolbar {
    border-bottom: 1px solid #67749e;
}
#toolbar h1 {
    float: left;
    width: 158px;
    height: 0;
    padding: 28px 0 0 0;
    margin: 0 20px 0 5px;
    overflow: hidden;
    background: url(../images/logo.png) no-repeat;
}
#toolbar ul {
    list-style-type: none;
}
#toolbar li {
    display: block;
    float: left;
    height: 18px;
    margin: 8px 7px 0 0;
    padding: 1px 7px 1px 7px;
    background: #8393ca;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
}
#toolbar li.last {
    float: right;
    margin-right: 20px;
}
#toolbar li.text {
    background: transparent;
    margin-right: 0px;
}
#toolbar li.search {
    margin-right: 0;
}
#toolbar li.text a {
    color: #000;
    font-weight: normal;
}
#toolbar li.active {
    background: #67749e;    
}
#toolbar a {
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    color: #fff;    
}
#toolbar li.active a {
}

/* toolbar button. */
#tools {
    float: right;
    margin: 5px 20px 10px 0;
}
#tools div {
    float: left;
}
#tools div.printer a {
    color: #000;
    padding-left: 25px;
    background: url(../images/printer.png) no-repeat left center;
    opacity: .65;
    line-height: 12px;
    font-size: 12px;
}
#tools div.printer a:hover {
    opacity: 1;
}

/* search */
#tools input.search {
    padding: 2px;
    margin-right: 10px;
    border: 1px solid #888;
    background: url(../images/search.png) no-repeat right center;
    color: #888;
    width: 140px;
}
ul#search_results {
    width: 144px;
    font-size: 12px;
}
ul#search_results li {
    margin: 0px;
    cursor: pointer;
    background-color: #e8edfd;
    padding-left: 22px;
}
ul#search_results strong {
    font-weight: normal;
    background: #FFFFBB;
    color: #000;
}
ul#search_results li.sector {
    background: url(../images/sector.png) no-repeat 2px center;
}
ul#search_results li.employee {
    background: url(../images/employee.png) no-repeat 2px center;
}
ul#search_results li.project {
    background: url(../images/project.png) no-repeat 2px center;
}
ul#search_results li.selected {
    background-color: #C5D2FC;
}
ul#search_results a {
    text-decoration: none;
    color: #333;
}
ul#search_results li.selected a {
    color: #000;
}

/* body */
#content {
    padding: 15px;
}
#content p,
#content form.button-to {
    margin: 0 0 5px 0;
}
#content h2 {
    padding: 0 0 3px 0;
    margin: 0 0 5px 0;
    border-bottom: 1px solid #888;
    font-size: 13px;
}
#content a {
    color: #000;
    text-decoration: underline;
}
#content a:hover {
    color: #fff;
    background: #333;
    text-decoration: none;
}

/* error messages. */
div.errorExplanation {
    width: 523px;
    padding: 7px;
    margin: 5px 0;
    background: #cc9999;
    border-left: 3px solid #B02B2C;
}
div.errorExplanation li {
    margin: 2px 0 2px 20px;
}

/* notices. */
div.notice {
    width: 523px;
    padding: 7px;
    margin: 5px 0;
    background: #C79810;
    border-left: 3px solid #D15600;
}

/* table */
table {
    border-collapse: collapse;
    border-bottom: 1px solid #8393ca;
    margin: 0 0 10px 0;
}
table.joined {
    border-bottom: none;
    margin: 0;
}
th, td {
    padding: 5px 7px 4px 6px;
    white-space: nowrap;
}
th {
    text-align: left;
    font-weight: bold;
    background: #8393ca;
    color: #fff;
}
th label.error {
    background: #B02B2C;
    color: #fff;
}
td {
    background: #c5d2fc;
}
tr.odd td {
    background: #e8edfd;
}
tr.description td {
    font-size: 85%; 
    padding-bottom: 8px
}
tr.description td .none {
    color: #666;
}
tr td.hours, tr th.hours {
    text-align: right;
}
table.all-right td {
    text-align: right;
}
table.sortable th {
    cursor: pointer;
}
th.sortasc {
    background: #8393CA url('../images/down.gif') no-repeat right;
}
th.sortdesc {
    background: #8393CA url('../images/up.gif') no-repeat right;
}

/* sidebar */
div.sidebar {
    float: right;
    clear: right;
    width: 250px;
    padding: 0 0 0 10px;
    background: #fff;
}
div.sidebar div.box {
    padding: 5px 7px 5px 7px;
    margin: 0 0 5px 0;
    font-size: 12px;
    background: #e0e0e0;
    color: #666;
}
div.sidebar h2 {
    font-size: 13px;
    margin: 0 0 3px 0;
    padding: 0 0 3px 0;
    border-bottom: 1px solid #ccc;
    color: #333;
}
div.sidebar ul {
    margin-left: 20px;
}
div.sidebar li {
    margin: 0 0 2px 0;
}

/* login */
form.new_employee_session {
    border-bottom: 1px solid #67749e;
    padding-left: 15px;
    margin-left: -15px;
    padding-right: 15px;
    margin-right: -15px;
}
form.new_employee_session div.fields {
    float: left;
}
form.new_employee_session div.notice, 
form.new_employee_session div.errorExplanation {
    float: left;
    width: 300px;
    margin-left: 20px;
}
form.new_employee_session div.notice {
    width: 0;
    padding-right: 200px;
    margin-right: -200px;
    margin-top: 15px; /* align with inputs */
}
form.new_employee_session div.big-logo {
    float: left;
    width: 0;
    height: 137px;
    padding-right: 229px;
    margin-right: -229px;
    margin-left: 20px;
    margin-top: -15px;
    background: url(../images/front-big-logo.png);
    border-left: 1px solid #67749e;
    border-right: 1px solid #67749e;
}
form.new_employee_session label {
    font-weight: bold;
    display: block;
}

/* report brief */
div.report-brief {
    width: 450px;
    padding: 5px 10px 5px 60px;
    margin: 10px 0;
    background: url(../images/pie-chart.png) no-repeat left 0px;
}
div.report-brief h3 {
    font-size: 14px;
}
div.report-brief p {
    color: #333;
}
