/* MakeIT time; print. */

body, td, th {
    font-family: georgia, times new roman, serif;
}

.clear {
    clear: both;
}

#toolbar {
    display: none;
}

a {
    color: #000;
    background: transparent;
}

#printer {
    display: none;
}

/* hide form elements. */
form {
    display: none;
}
button, input {
    display: none;
}
.pagination {
    display: none;
}

/* some styling for tables. */
table {
    border-collapse: collapse;
    margin: 0 0 10px 0;    
}
th {
    font-weight: bold;
    text-align: left;
    border-bottom: 3px solid #000;
    border-top: 3px solid #000;
}
td {
    border-bottom: 1px solid #000;
}
td, th {
    padding: 5px 7px 4px 6px;
}
