<h2>Skyriai</h2>

<table>
  <tr>
    <th style="width: 185px">Skyrius</th>
    <th style="width: 185px">Vadovas</th>
  </tr>
<% for sector in @sectors %>
  <tr class="<%= cycle('', 'odd') %>">
    <td><%= link_to h(sector.name), sector %></td>
    <td><%= link_to h(sector.manager.full_name), sector.manager %></td>
  </tr>
<% end %>
</table>
