<div class="sidebar">
  <div class="box">
    <h2>Laiko fiksavimas</h2>
    <p>Galite įvesti savo darbo valandas už šiandieną arba ankstesnę dieną.</p>
    <p>Neleidžiama įvesti daugiau negu 10 darbo valandų vienai dienai.</p>
    <p>Jeigu įvedant laiką, padarėte klaidą, nieko tokio: pataisyti
       savo įrašus galėsite per 5 dienas nuo įvedimo.</p>
  </div>
</div>

<h2>Laiko fiksavimas</h2>

<div id="add_task">
  <%= render :partial => 'tasks/add_task' %>
</div>

<h2>Fiksuotas laikas</h2>

<table class="joined">
  <tr>
    <th style="width: 90px">Data</th>
    <th style="width: 190px">Projektas</th>
    <th style="width: 120px">Veikla</th>
    <th style="width: 120px">Trukmė</th>
  </tr>
</table>
<% @tasks.each do |t| %>
  <% @odd = cycle('', 'odd') %>
  <%= render :partial => 'tasks/show_task', :locals => { :task => t, :odd => @odd } %>
<% end %>
<p>
  <%= paginate @tasks %>
</p>
