<h2>Specifinės ataskaitos</h2>

<div class="report-brief">
  <h3><a href="/reports/time_usage">Darbo laiko išnaudojimo/viršvalandžių ataskaita</a></h3>
  <p>Darbo laikas pagal laikotarpį, įskaitant viršvalandžių analizę.</p>
</div>

<div class="report-brief">
  <h3><a href="/reports/switching">„Persijungimų“ ataskaita</a><br /></h3>
  <p>Persijungimų skaičius, tenkantis tūkstančiui darbuotojo valandų.</p>
</div>

<div class="report-brief">
  <h3><a href="/reports/progress">Nebaigto darbo vertės ataskaita</a></h3>
  <p>Analizė darbo, kuris nėra baigtas ir klientai nėra už jį atsiskaitę.</p>
</div>
