<ul class="reports-menu">
  <li class="active"><a href="/reports/time_usage">Darbo laiko išnaudojimo ir viršvalandžių ataskaita</a></li>
  <li><a href="/reports/switching">„Persijungimų“ ataskaita</a></li>
  <li><a href="/reports/progress">Nebaigto darbo vertės ataskaita</a></li>
</ul>

<% remote_form_for "period", :url => { :action => 'time_usage' }, :update => 'report',
  :loading => "$('loading').show();", :complete => "$('loading').hide();" do |f| %>
  <p>
  Pasirinkite laikotarpius: 
  <%= f.select :periods, [['Metai', 'years'], ['Ketvirčiai', 'quarters']] %>
  <%= f.submit 'Parodyti ataskaitą' %> <%= loader %>
  </p>
<% end %>

<div id="report"></div>
